:root { 
    --primary-color: #08A6E4;
    --secondary-color:#fa597d;
    --accent-color: #55DFB4; 
    --navigation-text-color:#A5A5A5;
    --lightest-text-color: #F7F7F7;
    --hover-text-color: black;
    --button-text-color: white;
    --main-font: "Open Sans", sans serif;
    --secondary-font: "Raleway", sans serif;
    //*standard spacing, rounding of corners*//
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    width: 100%;
    height: auto;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.nav__logo {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: lighter;
    padding-top: 10px;
    padding-left: 30px;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.nav__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    margin-right: 40px;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.links {
    text-transform: uppercase;
    color: #A5A5A5;
    font-family: var(--secondary-font);
    padding-top: 10px;
}
.links a {
  color: gray;
  text-decoration: none; 
  transition: color 0.3s ease; 
}
.links a:hover {
  color: black;
  text-decoration: underline; 
  text-decoration-color: var(--primary-color);
  text-underline-offset: 30px;
  text-decoration-thickness: 4px; 
}

.header {
    min-height: 700px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
}

h1 {
  font-size: 50px;
  color: var(--hover-text-color);
  margin-bottom: 20px;
  margin-top: 90px;
}

.header__text {
  font-size: 16px;
  color: var(--hover-text-color);
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--button-text-color);
  font-size: 16px;
  padding: 20px 130px;
  border: none;
  border-radius: 50px;
}

.section__statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics__header {
  font-size: 26px;
  color: var(--hover-text-color);
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
}

.statistics__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}

.stat__img {
    margin-bottom: 10px;
    margin-left: 25px;
}

.stat_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.circle_bg_red {
  width: 60px;
  height: 60px;
  background-color: var(--secondary-color); 
  border-radius: 50%;
  margin-bottom: 10px;
}

.circle_bg_blue {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color); 
  border-radius: 50%;
  margin-bottom: 10px;
}

.circle_bg_green {
  width: 60px;
  height: 60px;
  background-color: var(--accent-color); 
  border-radius: 50%;
  margin-bottom: 10px;
}

.statistic__numbers {
  font-weight: bold;
  font-size: 16px;
  color: var(--hover-text-color);
}

//benefits

.benefits {
  padding: 100px 0;
  background-color: var(--color-light-grey);
}

.benefits__container {
  padding: 0 100px;
}

.benefits__single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__text {
  max-width: 415px;
  margin: 90px 36px;
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook {
  --accent-color: var(--color-redish);
}
.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}
.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}
.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
}
.benefits__single--phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0;
}
.benefits__double {
  --accent-color: var(--color-green);
  display: flex;
}
.benefits__double > div {
  margin-bottom: 0;
}
.benefits__single--solo {
  max-width: 620px;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}
.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}




