// Colors
$primary-color: #08A6E4;
$secondary-color: #fa597d;
$accent-color: #55DFB4; 
$navigation-text-color: #A5A5A5;
$lightest-text-color: #F7F7F7;
$hover-text-color: #000000;
$button-text-color: #FFFFFF;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-grey: #707070;
$color-primary-shadow: rgba(8, 166, 228, 0.2);

// Fonts
$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
