@import '../settings/variables';

h1 {
  font-size: 50px;
  color: $hover-text-color;
  margin-bottom: 20px;
  margin-top: 90px;
}

h2 {
  font-size: 36px;
  font-family: $secondary-font;
  font-weight: 400;
}
